header {
  height: 60px;
  background: linear-gradient(90deg, rgb(110,94,254) 0%,rgba(73,63,252,1)100%);
}
header > .header-container {
  padding: 0 40px;
  -margin: auto;
}
header .logo {
  display: inline-block;
  height: 40px;
  margin: 10px 0;
}

header .logo img {
  height: 100%;
}

header nav {
  display: inline-block;
  -float: right;
}

header nav > ul {
  display: inline-block;
  padding: 0;
  margin: 0 10px 0 0;
  list-style: none;
}
header nav > ul > li {
  display: inline-block;
  margin: 0 5px;
}
header nav > ul > li > a {
  line-height: 60px;
  color: #fff;
  text-decoration: none;
}
header nav > ul > li.active > a {
  padding: 10px 15px;
  background-color: #1fb5e9;
  border-radius: 4px;
}
header nav {
  position: relative;
  display: inline-block;
  height: 40px;
}
